h1 #{title}
h2 #{current_dir}
ul#dir_contents
  - items.forEach(function(item) {
    li
      - if(item.is_dir)
        a(href='/file_browser' + item.path) #{item.path}
      - else
        #{item.path} (#{item.size})
  - })
